*{
 
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
.container{
    display: flex;
}
body,html{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 100%;
        background-position-y:75px ;
        background-image: url(./modi.jpg);
}
.head{
    background-color: blue;
    font-size:50px;
    display: flex;
    justify-content: center;
    color: rgb(226, 43, 83);

}
.c1 img{
    border-radius: 10px;
    margin: 50px 50px;

}
.c2 img{
    border-radius: 10px;
    margin: 70px 50px;
}

.c3 img{
    border-radius: 10px;
        margin: 70px 50px;
}

.res{
    margin: 40px 400px;
    font-size: 8vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chartreuse;
}